@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/*Section 1*/

.body{
    display: flex;
    flex-direction: column;
}
.header {
    border: ;
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo, .links-header, ul{
    border: 
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    display: flex;
    margin-left: 75px;
}

.links-header{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    margin-left: 30p;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin: 0;
    padding: 0;
    margin-right: 150px;
}

/*Section 2*/

.box {
    border: ;
    background-color: #1f2937;
    display: flex;
    padding: 80px;
    justify-content: center;
}

.c-left, .imagen{
    border: ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-left{
    padding: 15px;
    width: 800px;
}
.imagen {
    margin-right: 50px;
}
.hero, .hero-text, .sign-up {
    border: 
}

.hero{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: 15px;
}

.hero-text{
    color: #e5e7eb;
    font-size: 18px;
    flex: 1;
}

.sign-up{
    
}

button {
    font-size: 20px;
    background-color: rgb(59, 130, 246);
    border: none;
    border-radius: 10px;
    color: #f9faf8;
    font-weight: bold;
    margin: 10px;
    margin-left: 0px;
    padding: 10px 20px;
    
}
.hero-imagen {
    width: 420px;
    height:auto;
    
}

/* Section 3 */

.title-s3{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
}

.contenedor-s3 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card{
    font-family: 'Roboto', sans-serif;
    color: rgb(108, 117, 128);
    font-size: 18px;

    display: flex;
    flex-direction: column;
    width: 230px;
    align-items: center;
    text-align: center;
    
}
.fig {
    width: 230px;
    border: 4px solid rgb(59, 130, 246);
    border-radius: 10px;
}
